.display{
    width: 400px;
    height: 100px;
}


.btnBox{
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    height: 400px;
    justify-content: center;
    box-sizing: border-box;
}


.btn{
    height: 100px;
    width: 100px;
    padding: 5px;
    font-size: 18px;
}

.display{
    display: flex;
    justify-content: flex-end;
}

.display-text{
    width: 400px;
    text-align: right;
    font-size: 28px;
}